<% form_for(@task, :update => {:failure => "error_messages"}) do |f| %>
  <!-- <div id="error_messages" class="error"> -->
    <%= f.error_messages %>
  <!-- </div> -->

  <%= render :partial => 'form_fields', :locals => {:f => f} %>
  
  <hr />
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
