<div class="box">
  <%= link_to params[:action] == "index" ? "<span class=\"loud\"><strong>Overall</strong></span>" : "Overall", :action => 'index' %> |
  <%= link_to params[:action] == "projects" ? "<span class=\"loud\"><strong>Projects</strong></span>" : "Projects", :action => 'projects' %> | 
  <%= link_to params[:action] == "users" ? "<span class=\"loud\"><strong>Users</strong></span>" : "Users", :action => 'users' %> |
  Reports
</div>