<div class="span-20">
  <%= render :partial => "menu" %>
  
  Stats for today:
  Tasks completed:
  Tasks with deadline today. (add deadline per task)
  
</div>

<div class="span-4 last">
  <div style="background-color: #75CC28; color: white; padding: 7px;">
    Project &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <%= select_tag 'project', options_for_select(projects_collection, @select_index.to_i), 
      {:onchange => "#{remote_function(:url  => "#{get_tasks_tasks_path}",
                                       :method => :get,
                                       :with => "'project_id='+ $(\"\#project\").val()"
                                      )
                      }"
      } %>
  </div>

  <div style="background-color: #F26522; color: white; padding: 7px;">
    Filter tasks 
  </div>
  
</div>
