<%= render :partial => 'menu' %>

<%= render :partial => 'side_menu' %>

<div class="span-14 last">
  <h2><%= @project.name %></h2>
  
  <table>
    <tr>
      <th>Total tasks</th>
      <th>Completed tasks</th>
      <th>Remaining tasks</th>
    </tr>

    <tr>
      <td>sss</td>
      <td>sss</td>
      <td>sss</td>
    </tr>
    
    Deadlines missed.
    
  </table>
</div>