.Active {
  color: #5B8F2C;
}
.Closed {
  color: #F23122;
}
.orange_box {
  background-color: #FFC9AF;
  padding: 20px;
}
.comment_box {
  background:#FCFCFC none repeat scroll 0 0;
  border-color:#DFDFDF;
  border-style:solid;
  border-width:1px 1px 1px 5px;
  overflow-x:auto;
  padding:2px 5px;
  /*width:96%;  */
}
/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

.Bug {
  background: url("images/bug.png") no-repeat;
}

.Feature {
  background: url("images/feature.png") no-repeat;
}

.Story {
  background: url("images/story.png") no-repeat;
}