.Active {
  color: #5B8F2C;
}
.Closed {
  color: #F23122;
}
.orange_box {
  background-color: #FFC9AF;
  padding: 20px;
}
.comment_box_1 {
  background:#FCFCFC none repeat scroll 0 0;
  border-color:#DFDFDF;
  border-style:solid;
  border-width:1px 1px 1px 5px;
  overflow-x:auto;
  padding:2px 5px;
  /*width:96%;  */
}

.comment_box_2 {
  background:#ffffff none repeat scroll 0 0;
  border-color:#DFDFDF;
  border-style:solid;
  border-width:1px 1px 1px 5px;
  overflow-x:auto;
  padding:2px 5px;
  /*width:96%;  */
}

/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

.Bug {
  background: url("images/bug.png") no-repeat;
}

.Feature {
  background: url("images/feature.png") no-repeat;
}

.Story {
  background: url("images/story.png") no-repeat;
}


/*progress bar*/
.meter-wrap{
    position: relative;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 155px; height: 30px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd top left no-repeat;
}
            
.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}


/* datpicker links */
/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(images/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}
