  <!-- <div style="background-color:#E6EFC2;border:1px solid #C6D880;color:#529214; padding: 7px;"> -->
    <div style="background-color: #5B9F1D; color: white; padding: 7px;">
    Project &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <%= select_tag 'project', options_for_select(projects_collection, current_user.current_project_id), 
      {:onchange => "#{remote_function(:url  => url,
                                       :method => :get,
                                       :with => "'project_id='+ $(\"\#project\").val()"
                                      )
                      }"
      } %>
  </div>
