<table>
  <tr>
    <th>File name</th>
  </tr>

  <% files.each do |r_file| %>
    <tr>
      <td><%= image_tag RFile::ICONS[r_file.file.content_type] %><%=link_to r_file.file_file_name, r_file.file.url %></td>
      <td style="width: 2%;"><%= link_to '<span class="ss_sprite ss_page_white_edit "></span>', edit_r_file_path(r_file) %></td>
      <td style="width: 2%;"><%= link_to '<span class="ss_sprite ss_delete"></span>', r_file, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
