<div class="span-20">
  <h2>Files</h2>

  <div class="span-6 border">
    <div style="text-align: right;" id="files_list">
      <%= render :partial => 'files_list', :locals => {:files => @r_files} %>
    </div>
  </div>

  <div class="span-4 last">
    <%= render :partial => 'shared/current_project_select' %>
  </div>
